<% @post.comments.each do |comment| %>
  <div class="media">
    <div class="media-left">
      <%= image_tag("https://unsplash.it/50", size: "60x60") %>
    </div>
    <div class="media-body">
      <h4 class="intro-text"><%= comment.user.name %></h4>
      <p class="postContent"><%= comment.content %></p>
    </div>
  </div>
  <hr>
<% end %>
