<div class="col-md-3">
  <div class="sidebar-widget">
    <h4 class="sidebar-title">Tags</h4>
    <div class="tagcloud">

      <!-- Show all tags here -->
      <% @tags.each do |tag| %>
        <%= link_to tag.name %>        
      <% end %>

    </div>
  </div>
</div>
