<% provide(:title, "Portfolio") %>

<!-- PAGE HEADER -->
	<section id="page-header">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="section-title">
						<h1>Portfolio</h1>
						<span class="st-border"></span>
					</div>
				</div>
			</div>
		</div>
	</section><!-- /PAGE HEADER -->

<!-- OUR WORKS -->
<section id="our-works">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="section-title">
          <h1>My Projects</h1>
          <span class="st-border"></span>
        </div>
      </div>

			<%= render 'project' %>

    </div>
		<!-- row -->
  </div>
	<!-- container -->
</section>
